<div class="row border">
  <app-header-component></app-header-component>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 border p-3">
      <app-conversation-control-component></app-conversation-control-component>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 border p-3">
      <app-conversation-history-component></app-conversation-history-component>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 border p-3">
      <app-contact-list-component></app-contact-list-component>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-12 border p-3">
      <div class="contain">This column is 12 cells wide and has padding</div>
    </div>
  </div>
  <div class="row border">This row has no columns and no padding</div>
  <div class="row">
    <div class="col-1 border">This column is 1 cell wide</div>
    <div class="col-2 border">This column is 2 cells wide</div>
    <div class="col-3 border">This column is 3 cells wide</div>
    <div class="col-4 border">This column is 4 cells wide</div>
  </div>
  <div class="row">
    <div class="col-3 p-3">
      <button type="button" class="btn btn-primary">Test button</button>
    </div>
  </div>
</div> -->
